body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C4fff9;
    font-family: 'Roboto', sans-serif;
    min-height: 99vh;
    
    
    
}
.calculator{
 
    border:18px solid #07beb8;
    width: 320px;
    height: max-content;
    flex-shrink: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: stretch;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #a5b4b4;
    

    
    
}

.footer{
    width: 100%;
    height: 50px;
    bottom: 0;
    border:2px solid #07beb8;
    position: fixed;
    background-color: #07beb8;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
   
    
    
}

html{
    height: 100%;
}

.display {
    height:100px;
    background-color: #ffffff;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: end;
    box-shadow: 1px 1px 6px inset;
    


}

button{
    height: 50px;
    width: 60px;
    flex:1;
    margin:0;
    padding:0;
    background-color: #68d8d6;
    color:#ffffff;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #afb9bd;

    
    
}

.row1,
.row2,
.row3,
.row4 {
    border: 1px solid #68d8d6;
    display: flex;
    justify-content: stretch;
    border: none;
}

.buttonEqual{
    flex:2;
    border-left:3px solid #c4fff9;
    background-color: #c4fff9;
    color:#ec518c;
    font-size: 20px;
    font-weight: 800;
    
    
    
}

.clicked{
    background-color: black;
}
.numbersDisplay{
    display: flex;
    margin-right: 15px;
    font-family:'Orbitron', sans-serif;
    font-size: 35px;
    color: #07beb8;


}
.buttonClear{
    background-color: #c4fff9;
    color:#ec518c;


}

.buttonPlus,
.buttonMinus,
.buttonMultiply,
.buttonDivide {
    color: #ec518c;
    font-size: 14px;
    font-style: italic;
}

.buttonUndo{
    font-size: 14px;
}

.hovered{
    background-color: white;
    color:#07beb8
}

.buttonEqual.hovered{
    background-color: #ec518c;
    border-left:3px solid #ec518c;
    

}